@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16px;
$primary: #2c3e50;
$secondary: #27ae60;
$tertiary: #4a9375;
$accents: #f1c40f;
$gray: #e9ecef;
$white: #fff;
$transition: .3s ease;
$textShadow: 0 0 2px $primary;
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin btn {
    padding: 12px 18px;
    margin-top: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: $accents;
    border: none;
    &:hover {
        background: $primary;
        cursor: pointer;
        transition: $transition;
        color: $white;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.6;
}
a {
    text-decoration: none;
    &:hover {
        transition: $transition;
    }
}
ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
}

.topBar {
    background: $primary;
    padding: 5px 0;
    .container {
        @include flexCenter;
        justify-content: space-between;
        .logo {
            font-size: 2rem;
            color: $accents;
            letter-spacing: 2px;
            text-transform: uppercase;
            &:hover {
                color: $white;
            }
        }
        .icons {
            a {
                color: $white;
                font-size: 1.5rem;
                margin-left: 20px;
                &:hover {
                    color: $accents;
                }
            }
        }
    }
} 
nav {
    ul {
        display: flex;
        justify-content: center;
        li {
            margin: 10px;
            a {
                color: $tertiary;
                font-size: 1.2rem;
                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}

header {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    text-align: center;
    @include flexCenter;
    .box {
        background: rgba($secondary, 0.7);
        padding: 40px;
        border: 1px solid $gray;
        color: $white;
        h1 {
            font-size: 2.3rem;
            text-shadow: $textShadow;
        }
        h4 {
            font-weight: 300;
            font-size: 1.2rem;
        }
        button {
            @include btn;
        }
    }
}

.about {
    background-image: linear-gradient(rgba($tertiary, 0.7), rgba($secondary, 0.7)), url(../img/onama.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 70vh;
    @include flexCenter;
    text-align: center;
    color: $white;
    h2 {
        font-size: 3rem;
        text-shadow: $textShadow;
        margin-bottom: 10px;
    }
    p {
        text-shadow: $textShadow;
    }
}
