@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16px;
$primary: #2c3e50;
$secondary: #27ae60;
$tertiary: #4a9375;
$accents: #f1c40f;
$gray: #e9ecef;
$white: #fff;
$transition: .3s ease;
$textShadow: 0 0 2px $primary;
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin btn {
    padding: 12px 18px;
    margin-top: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: $accents;
    border: none;
    &:hover {
        background: $primary;
        cursor: pointer;
        transition: $transition;
        color: $white;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.6;
}
a {
    text-decoration: none;
    &:hover {
        transition: $transition;
    }
}
ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
    @media(max-width: 768px) {
        width: 95%;
    }
}

.topBar {
    background: $primary;
    padding: 5px 0;
    .container {
        @include flexCenter;
        @media(max-width: 768px) {
            flex-direction: column;
        }
        justify-content: space-between;
        .logo {
            font-size: 2rem;
            color: $accents;
            letter-spacing: 2px;
            text-transform: uppercase;
            &:hover {
                color: $white;
            }
        }
        .icons {
            a {
                color: $white;
                font-size: 1.5rem;
                margin-left: 20px;
                @media(max-width: 768px) {
                    margin: 10px;
                }
                &:hover {
                    color: $accents;
                }
            }
        }
    }
} 
nav {
    ul {
        display: flex;
        justify-content: center;
        li {
            margin: 10px;
            @media(max-width: 768px) {
                margin: 5px;
            }
            a {
                color: $tertiary;
                font-size: 1.2rem;
                @media(max-width: 768px) {
                    font-size: 1rem;
                }
                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}

header {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    text-align: center;
    @include flexCenter;
    .box {
        background: rgba($secondary, 0.7);
        padding: 40px;
        border: 1px solid $gray;
        @media(max-width: 768px) {
            padding: 20px;
            margin: 20px;
            max-width: 220px;
        }
        color: $white;
        h1 {
            font-size: 2.3rem;
            @media(max-width: 768px) {
                font-size: 1.2rem;
            }
            text-shadow: $textShadow;
        }
        h4 {
            font-weight: 300;
            font-size: 1.2rem;
            @media(max-width: 768px) {
                font-size: 0.8rem;
            }
        }
        button {
            @include btn;
        }
    }
}

.about {
    background-image: linear-gradient(rgba($tertiary, 0.7), rgba($secondary, 0.7)), url(../img/onama.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 70vh;
    @include flexCenter;
    text-align: center;
    color: $white;
    h2 {
        font-size: 3rem;
        text-shadow: $textShadow;
        margin-bottom: 10px;
    }
    p {
        text-shadow: $textShadow;
    }
}

.recommendations {
    display: flex;
    flex-wrap: wrap;
    article {
        flex: 1;
        @media(max-width: 768px) {
            flex: 0 0 50%;
        }
        img {
            width: 100%;
            display: block;
        }
        div {
            padding: 20px;
            text-align: center;
            color: white;
        }
    }
    article:nth-child(odd) {
        div {
            background-color: $primary;
        }
    }
    article:nth-child(even) {
        div {
            background-color: $secondary;
        }
    }
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    article {
        flex: 0 0 50%;
        height: 50vh;
        @media(max-width: 768px) {
            flex: 0 0 100%;
        }
        h3 {
            margin: 15px;
            font-size: 1.8rem;
            color: #727070;
            @media(max-width: 768px) {
                font-size: 1.3rem;
                margin: 10px;
            }
        }
        
    }
    article:nth-child(1),
    article:nth-child(4) {
        @include flexCenter;
        flex-direction: column;
        padding: 50px;
        text-align: justify;
        background-color: $gray;
        color: #7d7c7c;
        @media(max-width: 768px) {
            padding: 40px;
            font-size: 0.9rem;
            height: auto;
        }
    }
    article:nth-child(2) {
        background-image: url(../img/benefiti1.jpg);
        background-position: center;
        background-size: cover;
        @media(max-width: 768px) {
            order: -1;
        }
    }
    article:nth-child(3) {
        background-image: url(../img/benefiti2.jpg);
        background-position: center;
        background-size: cover;
    }
}

footer {
    background-image: linear-gradient(rgba($accents,0.85), rgba($accents,0.85)), url(../img/footer.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    @media(max-width: 768px) {
        padding: 100px 40px;
    }
    text-align: center;
    h3 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
    }
    input {
        padding: 14px;
        @media(max-width: 768px) {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    input[type="submit"] {
        @include btn;
        padding: 15px;
        background: $primary;
        color: white;
        &:hover {
            background: $secondary;
        }
    }
}